h1{
    color:rgb(29, 36, 43);
    font-size: 2.5rem;
    font-weight: bold;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.home{
    display: grid;
    grid-template-columns: 4.5fr 4.5fr 3fr ;
    gap: 1rem;
}

